<template>
  <div class="hello">
    {{ msg}} Ditt socket-id är '{{socketID}}'.
    <button v-on:click="proxy()"> Test proxy </button>
  </div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'HelloWorld',
  sockets: {
     connect: function () {
            this.socketID = this.$socket.id;
        }
  },
  props: {
    msg: String,
  },
  data: function() {
   return {
       socketID: this.socketID
   };
  },
  methods: {
    proxy: function() {

      axios.get('/api').then((response) => {
        alert(response.data.podazzo);
      })
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
